<app-modal (closeModal)="handleClose()">
  <div
    class="w-[95%] sm:w-4/5 lg:w-3/5 max-w-[800px] bg-slate-800 h-[90%] max-h-[550px] rounded-xl p-4 overflow-y-auto flex flex-col"
  >
    <form ngNativeValidate (ngSubmit)="handleSaveGame()">
      <div class="flex flex-col gap-4 sm:flex-row">
        <div
          class="relative w-full sm:max-w-[250px] h-[300px]"
          (click)="gameimg.click()"
        >
          @if (!newGame.image) {
            <div
              title="add cover image to game"
              class="flex flex-col items-center justify-center w-full h-full transition-all duration-300 ease-in-out border-8 border-gray-600 border-dashed cursor-pointer group hover:border-gray-300 rounded-xl"
            >
              <span
                class="text-6xl text-gray-600 transition-all duration-300 ease-in-out select-none group-hover:text-gray-300 material-symbols-outlined"
              >
                image
              </span>
            </div>
          } @else {
            <img
              class="object-contain w-full h-full cursor-pointer"
              [src]="newGame.image"
            />
          }

          <input
            class="absolute w-1 h-1 opacity-0 left-2/4 top-2/4"
            name="gameimg"
            type="file"
            (change)="readImg($event)"
            #gameimg
            required
          />
        </div>

        <!--Name, review-->
        <div class="flex flex-col flex-1">
          <div class="w-full pb-2">
            <input
              name="gameName"
              [(ngModel)]="newGame.title"
              type="text"
              class="w-full p-2 text-white rounded-md bg-slate-900"
              placeholder="Type Game Name..."
              required
              autocomplete="off"
            />
          </div>

          <textarea
            name="gameReview"
            [(ngModel)]="newGame.review"
            class="flex-1 w-full p-2 min-h-[200px] text-white sm:min-h-0 rounded-md resize-none bg-slate-900"
            placeholder="Type your review..."
            required
            autocomplete="off"
          ></textarea>
        </div>
      </div>

      <div class="flex justify-center w-full pt-4 @container">
        <stars [editable]="true" [(qtd)]="newGame.rate" />
      </div>

      <div class="flex gap-4 pt-10 mt-auto">
        <button
          type="reset"
          (click)="reset(); handleClose()"
          class="px-4 py-2 text-white bg-red-800 rounded-lg"
        >
          CANCEL
        </button>
        <button
          type="submit"
          class="px-4 py-2 text-white bg-green-800 rounded-lg"
        >
          SAVE
        </button>
      </div>
    </form>
  </div>
</app-modal>
