<div
  (click)="addNewGame()"
  class="flex items-center justify-center w-full h-full transition-all duration-300 ease-in-out border-8 border-blue-800 border-dashed shadow-2xl cursor-pointer select-none shadow-blue-800 group hover:border-blue-500 rounded-xl active:translate-y-2 active:shadow-none"
>
  <span
    title="add new game to your library"
    class="text-blue-800 transition-all duration-300 ease-in-out material-symbols-outlined group-hover:text-blue-500 text-8xl"
  >
    add_circle
  </span>
</div>
